body {
	margin: 0px;
}
.header {
	padding: 10px;
	background-color: #DDDDDD;
	width: 100%;
	margin-top: 0px;
	height: 80px;
}

.header a {
		text-decoration: none;
}

.header .titleframe {
	float: left;
}

.title {
	font-weight: normal;
	font-family: 'Michroma', sans-serif;
	font-size: 32px;
	color: #666666; 
}
.title span {
	color: #0D88C1;
}

.subtitle {
	font-weight: normal;
	font-family: 'Michroma', sans-serif;
	font-size: 24px;
	color: #666666; 
}
.subtitle span {
	color: #0D88C1;
}

.playlist_container {
	float: right;
	width: 250px;
	height: 100%;
}

.user-controls {
	float: right;
	width: auto;
	height: 80px;
}
